<div class="wrapper">
  <ul>
    <li>
      <strong>
        How to disable change detection cycle in angular and how to trigger it
        manually ?
      </strong>
    </li>
    <li>
      <strong> What are the different ways to call a component? </strong>
    </li>
    <li>
      <strong>constructor vs ngOnInit</strong> :
      <div>
        <strong>Constructor</strong> is a typescript feature. Whenever a class
        is instantiated its constructor is called. It is not ideal for complex
        logics as in this part the angular component is not instantiated
        properly.It is generally used for dependency injection in components.
      </div>
      <div>
        <strong>ngOnInit</strong> is a lifecycle hook. It is a perfect place to
        write some logics after initialisation of the component.
      </div>
    </li>
    <li>
      <strong>metadata</strong> : Metadata is used to decorate a class so that
      it can configure the expected behavior of the class. Ex : @Component,
      @Directive, @Pipe, @NgModule, @Injectable.
    </li>
    <li><strong>angular CLI</strong></li>
    <li>
      <strong>Different types of decorators</strong> : class
      decorator(@Component,etc), property decorator(@Output), method
      decorator(@HostListner), parameter decorator(@Inject)
    </li>
    <li>
      <strong>Decorators</strong> : In Angular, decorators are special functions
      that add metadata to classes, methods, properties, or parameters. They
      play a crucial role in defining and configuring Angular components,
      services, directives, and other elements. Decorators are a core feature of
      TypeScript and are used extensively in Angular to provide additional
      information that Angular uses to understand how to process and use the
      decorated element.
    </li>
    <li>
      <strong>Annotations</strong> : Plese go through it (annotation vs
      decorator)
    </li>
    <li>
      <strong>Angular Cli</strong> : Angular CLI (Command Line Interface) is a
      powerful tool that helps developers initialize, develop, scaffold, and
      maintain Angular applications directly from the command shell. It provides
      a range of commands that streamline common tasks and automate various
      aspects of the development workflow
    </li>
    <li>
      <strong>Template Expression</strong> : Property binding and interpolations
    </li>
    <li><strong>Template Statement</strong> : Event binding</li>
    <li>
      <strong>Types of data bindings</strong> : Property binding, Event binding
      and 2 way binding
    </li>
    <li>
      <strong>How to get full response from http client</strong> : use observe
      while api call
      {{ "this.http.get(this.userUrl, { observe: 'response' })" }}
    </li>
    <li>
      <strong>Rxjs</strong> : RxJS is a library for composing asynchronous and
      callback-based code in a functional, reactive style using Observables
    </li>
    <li><strong>Multicasting vs unicasting</strong></li>
    <li>
      <strong>Different types of compilers in Angular</strong> : JIT and AOT
    </li>
    <li>
      <strong>JIT</strong> :
      <ul>
        <li>
          Here the html an the typescript files are converted into javascript
          file in the browser durring the runtime.
        </li>
        <li>
          Instead of compiling the code all at once it interpretes the component
          when they are called in browser.
        </li>
      </ul>
    </li>
    <li>
      <strong>AOT</strong> :
      <ul>
        <li>
          Here the html and typescript code is converted to javascript code at
          first which is downloaded by the browser and executed.
        </li>
        <li>Here the code is already compiled before it is executed</li>
        <li>
          Due to the before hand compilation the rendering becomes faster.
        </li>
      </ul>
    </li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
    <li><strong></strong></li>
  </ul>
</div>
