.container {
  background-color: khaki;
  position: relative;
  height: 150px;
}

.container1 {
  height: 400px;
  background-color: khaki;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  margin: 10px;
}

.item1 {
  order: 3;
  align-self: flex-end;
}
.item2 {
  order: 4;
}
.item3 {
  order: 1;
}
.item4 {
  order: 2;
}

.box {
  display: inline-block;
  margin: 4px;
  width: 120px;
  height: 120px;
  border: 1px solid red;
}

#box1 {
  position: absolute;
  top: 10px;
  left: 360px;
}

#box2 {
  position: relative;
  top: 10px;
}

.transform {
  height: 100px;
  width: 100px;
  background-color: tomato;
  transform: rotate(45deg) skew(30deg, 40deg);
}

.transition {
  height: 100px;
  width: 100px;
  background-color: tomato;
  transition: 3s linear;
  transition-delay: 1s;
}

.transition:hover {
  background-color: skyblue;
  transform: rotate(45deg) skew(20deg, 30deg);
  border-radius: 100%;
}

.grid-box {
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: repeat(100px, 3);
  padding: 10px;
  gap: 10px;
  border: 1px solid black;
  background-color: khaki;
  height: 300px;
}

.grid-items {
  height: 100%;
  border: 1px solid red;
  width: 100%;
}

.grid-item-4 {
  grid-column: 1/3;
}
