<div class="wrapper1">
  <div class="topics">
    <div
      class="topic"
      routerLink="/angular-fundamentals"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Angular Fundamentals
    </div>
    <div
      class="topic"
      routerLink="/rxjs"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Rxjs
    </div>
    <div
      class="topic"
      routerLink="reactiveForm"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Reactive Form
    </div>
    <div
      class="topic"
      routerLink="/templateForm"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Template Form
    </div>
    <div
      class="topic"
      routerLink="/directives"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Directive
    </div>
    <div
      class="topic"
      routerLink="/lifecycle-hooks"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Lifecycle Hooks
    </div>
    <div
      class="topic"
      routerLink="/template-reference-variables"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Reference Variables
    </div>
    <div
      class="topic"
      routerLink="/view-encapsulation"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      View Encapsulation
    </div>
    <div
      class="topic"
      routerLink="/dependency-injection"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Dependency Injection
    </div>
    <div
      class="topic"
      routerLink="/routing-example"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Routing Example
    </div>
    <div
      class="topic"
      routerLink="/pipes"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Pipes
    </div>
    <div
      class="topic"
      routerLink="/css-practice"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      CSS
    </div>
    <div
      class="topic"
      routerLink="/module"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Module
    </div>
    <div
      class="topic"
      routerLink="/compilation-process"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Compilation Process
    </div>
    <div
      class="topic"
      routerLink="/workers"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Workers
    </div>
    <div
      class="topic"
      routerLink="/angular-elements"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Angular Elements
    </div>
    <div
      class="topic"
      routerLink="/decorators"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Decorators
    </div>
    <div
      class="topic"
      routerLink="/change-detection"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Change Detection
    </div>
    <div
      class="topic"
      routerLink="/ngrx"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Ngrx
    </div>
    <div
      class="topic"
      routerLink="/js-interview"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      JS interview
    </div>
    <div
      class="topic"
      routerLink="/angular-interview-questions"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Angular Interview Questions
    </div>
    <div
      class="topic"
      routerLink="/object-oriented-javascript"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Object Oriented Javascript
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
