<h2>Decorators</h2>
<div class="wrapper">
  <ul>
    <li>
      Decorators are functions that modify the behaviour of class and their
      members.
    </li>
    <li>
      They provide a way to apply metadeta to the classes and their members.
    </li>
  </ul>
</div>

<div class="wrapper">
  <h3>Types of decorators</h3>
  <ul>
    <li>
      <strong>Class decorator</strong> : They are applied to classes. Example :
      @Component, @NgModule, @Pipe, @Directive, @Injectable.
    </li>
    <li>
      <strong>property decorator</strong> : They are applied to variabeles.
      Example @Input, @Output.
    </li>
    <li><strong>Method decoratros</strong> : Example : @HostBinding</li>
    <li>
      <strong>Parameter decorators</strong> : These are used inside class
      constructors. Example : @Inject
    </li>
  </ul>
</div>
