<h2>Angular Fundamentals</h2>

<div class="wrapper">
  <h4>Angular files and folders</h4>
  <ul>
    <li>
      <strong>node_modules</strong> :
      <ul>
        <li>
          All the 3rd party libraries gets stored here on which our Angular app
          might depend on.
        </li>
        <li>
          All the 3rd party libraries we download from npm gets stored in this
          node module folder.
        </li>
        <li>
          This is purely for development process and we don't deploy this folder
          in production server or checkin this folder in the git repo.
        </li>
        <li></li>
      </ul>
    </li>
    <li>
      <strong>package.json</strong> :
      <ul>
        <li>
          This is a standard configuration file which every node project has.
        </li>
        <li>
          It has the meta data of the project like name, version, scripts,
          dependencis, devDependencies.
        </li>
        <li>
          In dependencies we will have the list of all packages on which the
          project is directly dependend, devDependencies is the list of all
          packages which are required in the time of development of the project.
        </li>
      </ul>
    </li>
    <li>
      <strong>.editorconfig</strong> : It is file which is used to set rules
      related to coding standards. In real world project many different people
      work in a same project and all may have different approach of writing
      code.
    </li>
    <li>
      <strong>.gitignore</strong> : here we can specify the files and folders
      that we want to ignore.
    </li>
    <li>
      <strong>angular.json</strong>: It contains akk the configuration of our
      angular project, like what are the stylesheets the app is going to use and
      where to find it, the main entry point, etc.
    </li>
    <li>
      <strong>package.lock.json</strong>:
      <ul>
        <li>
          It keeps a record of exact version of every installed dependency,
          including their sub dependencies and versions.
        </li>
        <li>
          It makes sure that the same set of dependencies are present accross
          different environment.
        </li>
      </ul>
    </li>
    <li>
      <strong>tsconfig.json</strong> : It basically contains a bunch of settings
      for our typescript compiler. Typescript compiler is goinf to loot at these
      settings and based on these settings the compiler will change the
      typescript file into javascript file.
    </li>
    <li>
      <strong>src</strong> : Here we contains the source code of our
      application.
    </li>
  </ul>
</div>

<div class="wrapper">
  <h4>Bootstrapping angular app works</h4>
  <ul>
    <li>Bootstrapping is the process of loading our angular app.</li>
    <li><strong>index.html</strong> is the first page in angular app.</li>
    <li>
      The index.html file doesnot have any javascript file attached to it but we
      can see an <strong>app-root</strong> tag in the body.
    </li>
    <li>
      <strong>app-root</strong>:
      <ul>
        <li>
          To run our angular app we need to type a command
          <strong>ng-serve</strong>. This commnad actually builds our app but
          doesn't save it in the disk rather it saves it in the memory. This
          command also watches our project and if we make any changes then it
          will recompile and update the build file.
        </li>
        <li>
          ng-serve bundles the application and injects it to the index.html
          file.
        </li>
        <li>
          To view this build we need to run an angular cli command called ng
          build.
        </li>
        <li>
          After building the angular app we will get a dist folder and inside
          the folder we will have a index.html file too there we will see that
          inside the body tag there is app-root and a new script tag is
          imported.
        </li>
        <li>In angular webpack bundles the angular application.</li>
        <li>
          Once the angular cli has these bundles then angular cli injects this
          bundles in the index.html file.
        </li>
      </ul>
    </li>
    <li>
      So by the time the index.html file is loaded, Angular core modules and
      thirdparty modules are also loaded.
    </li>
    <li>Now agular needs to locate the main entry point of the application.</li>
    <li>
      The angular cli searches for the entry point in angular.json where in main
      the entry point is mentioned.
    </li>
    <li>
      In the main.ts file we need to import
      <strong>platformBrowserDynamic</strong> module which is responsible for
      loading the angular app in the browser.
    </li>
    <li>
      Angular app can be bootstrapped in many ways and in many platforms like
      mobile devices with <strong>ionic or native scripts</strong>
    </li>
    <li>In the main.ts we have to bootstrap the AppModule class.</li>
    <li>
      Inside app module we have a bootstrap array in which we have to specify
      some components.
    </li>
    <li>
      The components specified in the AppModule bootstrap array will be loaded
      as soon as the AppModule loads.
    </li>
  </ul>
</div>

<div class="wrapper">
  <h3>Different js files found in build</h3>
  <ul>
    <li>
      <strong>vendor.js</strong> :
      <ul>
        <li>This is generated durring the build process of an Angular app.</li>
        <li>
          It contains all the external libraries on which our project relias
          like Rxjs, Angular Material, etc.
        </li>
      </ul>
    </li>
    <li>
      <strong>polyfills.js</strong> :
      <ul>
        <li>
          It plays a vital role in ensuring that our angular application runs
          smoothly across different browsers and versions.
        </li>
        <li>
          It provides modern JS features to old browsers which does not support
          them directly.
        </li>
      </ul>
    </li>
    <li>
      <strong>main.js</strong>:
      <ul>
        <li>It is the entry point of our angular application.</li>
        <li>
          It contains the bootstrap logic and initialise and launches our
          Angular application.
        </li>
        <li>
          When the browser loads main.js, it triggers the Angular Framwork to
          start which in turn bootstraps to app-root.
        </li>
      </ul>
    </li>
    <li>
      <strong>runtime.js</strong> :
      <ul>
        <li>
          It provides the runtime environment necessary to run our Angular app.
        </li>
        <li>
          It contains the core angular runtime code, which helps angular to
          achieve change-detection, dendency injection ,routing,etc.
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="wrapper">
  <h3>proxy.config.js</h3>
  <ul>
    <li>
      It is an object where keys can be used to find the endpoints starting with
      that key.
    </li>
    <li><strong>target</strong> : This is the target backend server.</li>
    <li>
      <strong>secure</strong> : A flag to decide whether to verify SSL
      certificates when using HTTPS in the target. Tells the proxy to validate /
      not validate the backend's SSL certificate.
    </li>
    <li>
      <strong>changeOrigin</strong> : Tells the proxy server to modify the Host
      header in the outgoing request to match the target server. Some backend
      servers block requests if the Host header does not match their domain. In
      the request headers we can find :authority: which is the current host
      where the app is being served.So this will be changed to the target host.
    </li>
    <li>
      <strong>logLevel</strong> : Controls the amount of log output the proxy
      gives in your terminal. Values are : debug, info, warn, error, silent.
    </li>
    <li>
      <strong>pathRewrite</strong> : Allows you to modify the request path
      before it is sent to the backend.
    </li>
    <li>
      We can add it in ng serve command
      <strong>ng serve --config proxy.config.json</strong>
    </li>
  </ul>
</div>
