<h2>JS Interview Questions</h2>
<div class="wrapper">
  <h3>Fundamentals</h3>
  <ul>
    <li>
      <strong>Different ways to create object ?</strong>:
      <ul>
        <li>Object literal</li>
        <li>new keyword</li>
        <li>Object.create</li>
        <li>constructor function</li>
        <li>Object.assign</li>
      </ul>
    </li>
    <li><strong>Prototye Chaning</strong></li>
    <li><strong>Call, apply, bind</strong></li>
    <li>
      <strong>What is JSON</strong> : Stands for javascript object notation is a
      lightweight data interchange format that is easy for humans to read and
      write and easy for machines to parse and generate.
    </li>
    <li><strong>array slice vs array splice</strong></li>
    <li>
      <strong>Object vs Map</strong>
      <ul>
        <li>
          The keys in objects are generally strings or symbols where as in map
          the key can be anything like functions,objects,arrays,etc.
        </li>
        <li>
          The keys in a Map are ordered while keys added to Object are not.
          Thus, when iterating over it, a Map object returns keys in the order
          of insertion.
        </li>
        <li>Maps are iterable where as obj are not.</li>
        <li>Map uses more memory in comparision to objects.</li>
      </ul>
    </li>
    <li><strong>First Class functions ?</strong></li>
    <li>
      <strong>First order functions ?</strong> :It doesn't accepts another
      function as argument or returns another function.
    </li>
    <li>
      <strong>Higher order functions ?</strong> : A function that accepts
      another function as argument or returns another function.
    </li>
    <li>
      <strong>Pure functions</strong> : If the output of a function depends only
      on the input parameters then it is known as pue function. It will always
      return the same output for same input.
      <div>Example : {{ "(a,b)=>{return a+b;}" }}</div>
    </li>
    <li>
      <strong>Impure Functions</strong> : The output of a function depends not
      only on its input parameter but also on some other parameters. They
      provides different output for same input.
      <div>Example : {{ "total=0 (a)=>{ total=total+a; return total;}" }}</div>
    </li>
    <li><strong>var, let, const</strong></li>
    <li>
      <strong>
        How do you redeclare variables in a switch block without an error?
      </strong>
      : Always uses opening and closing braces to write the body of cases in
      switch. If we don't use braces we will not be always to declare a let or
      const variable with same name, we can declare var without any error.
    </li>
    <li>
      <strong>Temporal Dead Zone</strong> : Time difference between hositing a
      variable and assign the variable a value. We can access var but we cannot
      access let in temporal dead zone.
    </li>
    <li>
      <strong>IIFE (Immediately Invoked Function Expression) </strong> : A
      function which gets invoked as soon as it is declared.{{
        "(function () { // logic here })();"
      }}
    </li>
    <li><strong>encodeURI, decodeURI, encodeComponentURI</strong></li>
    <li><strong>memoization</strong></li>
    <li><strong>Hoisting</strong></li>
    <li><strong>classes in ES6</strong></li>
    <li><strong>closures</strong></li>
    <li>
      <strong>Modules</strong> : It is a way to organise code into reusable
      units. There are two type of modules
      <ul>
        <li>
          ES Modules
          <div>{{ "export function add(a, b) {return a + b;}" }}</div>
          <div>{{ "import { add } from './math.js';" }}</div>
        </li>
        <li>
          Common JS modules
          <div>{{ "exports.add = function(a, b) {return a + b;};" }}</div>
          <div>{{ "const { add } = require('./math.js');" }}</div>
        </li>
      </ul>
    </li>
    <li><strong>Scopes</strong>: block, function, lexical,</li>
    <li><strong>Service Worker and web worker</strong></li>
    <li>
      <strong>Index DB (go in detail)</strong> : IndexedDB is a low-level API
      for client-side storage of larger amounts of structured data, including
      files/blobs. This API uses indexes to enable high-performance searches of
      this data.
    </li>
    <li>
      <strong>Web Storage</strong> : It is a api by which we can store data in
      key value format inside the browser.
      <ul>
        <li>
          Local Storage : Data stored in localStorage persists even after the
          browser is closed and reopened. It has no expiration time and remains
          stored until explicitly removed. It will be accessible to all the
          tabs.
        </li>
        <li>
          Session Storage : It stores data for one session and the data is lost
          when the browser tab is closed
        </li>
      </ul>
    </li>
    <li><strong>Cookies</strong></li>
    <li><strong>Strict mode in JS</strong></li>
    <li><strong>Sockets vs Server-sent events</strong></li>
    <li>
      <strong>purpose of double exclamation (!!)</strong> : I will give us the
      boolean value when used infront of a variable. Like it will give the falsy
      or truthy value. Example :{{ "let a=!!1" }} returns true.
    </li>
    <li><strong>Delete operator</strong></li>
    <li><strong>window vs document</strong></li>
    <li><strong>undeclared vs undefined</strong></li>
    <li>
      <strong>event flow(go through it)</strong>:
      <div>
        Event flow is the order in which event is received on the web page There
        are two types of event flows:
        <ul>
          <li>
            <strong>Event Bubling</strong> : Here the event propagated from the
            inner most element to the topmost element. Like if we trigger a
            click event at the child then the click event of the parent will
            also get triggered. Example:
            <div (click)="divClicked()">
              <button (click)="buttonClicked($event)">Event Bubling</button>
            </div>
            To prevent event bubling we can use stopPropagation method.
          </li>
          <li>
            <strong>Event Capturing</strong> : Here the event will first
            captured in the parent and then it will be captured in all its
            children. It is not present by default we have to enable it
            explicitly . Example :
            <div id="captureDiv" (click.capture)="divCapture()">
              <button id="captureButton" (click.capture)="buttonCapture()">
                Event Capturing
              </button>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li><strong>What is the use of preventDefault method</strong></li>
    <li><strong>same-origin policy</strong> :</li>
    <li><strong>JavaScript a compiled or interpreted language</strong></li>
    <li><strong>preventDefault, stopPropagation</strong></li>
    <li><strong>setTimeout vs setInterval</strong></li>
    <li><strong>event delegation</strong></li>
    <li><strong>Progressive web applications (PWAs) </strong></li>
    <li><strong>clearTimeout</strong></li>
    <li>
      <strong>How do you loop through or enumerate javascript object</strong> :
      Use for-in loop
    </li>
    <li>
      <strong>for-in vs for-of loop</strong> : If we use for-in loop in arrays
      then it will give us the indices as arrays in JS are objects .
    </li>
    <li><strong>Is the !-- notation represents a special operator</strong></li>
    <li><strong>polyfill</strong></li>
    <li><strong>Rest and Spread operator</strong></li>
    <li><strong>Function currying</strong></li>
    <li><strong>Tree Shaking</strong></li>
    <li>
      <strong>Function Currying</strong> : Function currying is a technique in
      functional programming where a function with multiple arguments is
      converted into a sequence of nested functions, each taking a single
      argument.
      <div>
        Example :
        <button (click)="getUser(userInfo)('name')">Function Currying</button>
      </div>
    </li>
    <li>
      <strong>freeze method</strong> : It prevent an object from being modified.
    </li>
    <li><strong>anonymous function </strong></li>
    <li>
      <strong>event loop, call stack , callback queue(event queue)</strong>
    </li>
    <li>
      <strong>Features of ES6</strong> :
      <ul>
        <li>Support for constants or immutable variables</li>
        <li>Block-scope support for variables, constants and functions</li>
        <li>Arrow functions</li>
        <li>Default parameters</li>
        <li>Rest and Spread Parameters</li>
        <li>Template Literals (Template String)</li>
        <li>Multi-line Strings</li>
        <li>Destructuring Assignment</li>
        <li>Enhanced Object Literals</li>
        <li>Promises</li>
        <li>Classes</li>
        <li>Modules</li>
      </ul>
    </li>
    <li><strong>Can I redeclare let and const variables</strong> : No</li>
    <li><strong>Shallow and Deep copy</strong></li>
    <li><strong>Shadowing in JS</strong></li>
    <li><strong>Throttling , debouncing</strong></li>
    <li><strong>Event delegation</strong></li>
  </ul>
</div>
