<h2>NGRX</h2>
<div class="wrapper">
  <ul>
    <li>
      It is a framework which helps us to build reactive applications and helps
      in managing states globally.
    </li>
    <li>It is a combination rxjs and redux.</li>
    <li>
      It also helps us in storing already fetched data and using it whenever
      needed assuming the data doesnot change.
    </li>
    <li>
      If the data also changes then also we can have a functionality like pull
      to refresh like in instagram feeds.
    </li>
  </ul>
</div>

<div class="wrapper">
  <h3>How ngrx works</h3>
  <ul>
    <li>There are 3 parts in redux</li>
    <ul>
      <li>
        <strong>store</strong>: It is a central repository that maintains the
        state of your application. It follows the Redux pattern and provides a
        single source of truth for the state, making it predictable and easy to
        manage.
      </li>
      <li>
        <strong>actions</strong> : It describes unique events that are
        dispatched from the components and services.
        <ul>
          <li>
            Any event performed in the component need to dispatch action using
            action creator.
          </li>
          <li>Each action has the type property.</li>
          <li>Action name should be unique.</li>
          <li>Using payload option we can send data.</li>
        </ul>
      </li>
      <li>
        <strong>reducers</strong> : State changes are calculated by pure
        functions known as reducers. They take the current state and the latest
        action to compute the new state.
        <ul>
          <li>
            These are pure functions which takes action and initial state as
            input.
          </li>
          <li>
            Reducers will compute the new data using actions and initial state.
          </li>
          <li>The updated state will be available in the store.</li>
        </ul>
      </li>
      <li>
        <strong>selectors</strong> : These are used to fetch the particular
        information from the store and then we can use these in our components.
      </li>
      <li>
        <strong>effects</strong> : Effect is a service which listen to all the
        actions, react to those actions and returns another action. We can make
        dispatch false so that it doesnot return any other action. By default
        they dispatch actions.
      </li>
      <li>
        <strong>state</strong> :
        <ul>
          <li>It is an object which can hold any data.</li>
          <li>
            Here the state is a list of global variables which we want to use
            across the application.
          </li>
          <li>
            We can modify the properties in a state but we cannot remove or
            delete any property from the state.
          </li>
          <li>
            Functions, class instances, dom elements,etc cannot be saved in
            state.
          </li>
        </ul>
      </li>
    </ul>
  </ul>
</div>

<div class="wrapper">
  <h3>Steps of updating the state in store</h3>
  <ul>
    <li>At first we will dispatch an action from the component.</li>
    <li>This action will be used by reducers.</li>
    <li>
      Reducers will take the action and the initial state and compute the new
      value.
    </li>
    <li>The new value will be updated in the store.</li>
    <li>
      Once the value is updated in the store it will emit an observable which
      will be subscribed by the selectors and we will get the updated values.
    </li>
    <li>
      Suppose we are dependend on some api or service for data fetching, so in
      that case the action will trigger an effect and the effect will get the
      required data from the service.
    </li>
    <li>
      Effect then pass the data to the action and then the data gets updated
      using the above steps in the store.
    </li>
  </ul>
</div>

<div class="wrapper">
  <h3>Props Action</h3>
  <ul>
    <li>
      If we want to add any payload to our action then we can use props action.
    </li>
    <li>
      Here while creating the action using createAction method we need to pass
      another param along with the action type param (which is the 1st param).
    </li>
    <li>
      We have to pass the 2nd param as
      <strong>{{ "  props<{ value: number }>()" }}</strong
      >. We can also keep the data type of props as any.
    </li>
  </ul>
</div>

<div class="wrapper">
  <h3>Ngrx Selectors</h3>
  <ul>
    <li>We can simply subscribe the selector using store.selector.</li>
    <li>But doing so will create a performance issue.</li>
    <li>
      Imagine a senario where the store has lot of properties but the components
      only needs one or 2 properties.
    </li>
    <li>
      As in the component we have subscribed the store the subscription will
      work even if other states are updated.
    </li>
    <li>If we use ngrx selector then we can avoid these type of issues.</li>
    <li>We can create a seperate file for selectors.</li>
    <li>
      At first we will have to get the state of entire store using
      <strong>createFeatureSelector</strong>. It is a function which feature
      name as a param. It is actually the name with which that particular state
      is linked in the store in app.module StoreModule.forRoot()
    </li>
    <li>
      Now we can create indivisual selector for indivisual properties using
      <strong>createSelector</strong>. It take the state variable which we got
      from <strong>createFeatureSelector</strong> and also a callback function
      which holds the current state corresponding to the feature name. We can
      keep it in a variable and export it.
    </li>
    <li>
      Now previously we were doing this.store.select('featureKey') now we can
      replace featureKey string with the selector that we are exporting.
    </li>
    <li>
      We can also pass some parameters to the selector like we can write a
      custom method and we will be returning a selector from that method. We can
      take a param in the method and we can filter out the required state
      property from the method and display it.
    </li>
    <li>
      Example :
      <strong>
        <pre><code>
export const getBloById = (blogId: number) =&gt;
  createSelector(getBlogState, (state) =&gt; {{ '{' }}
    return state.blogList.find((blog: any) =&gt; blog.id === blogId);
  {{ '}' }});
</code></pre>
      </strong>
      In this way we can create a custom selector by passing params only.
    </li>
  </ul>
</div>

<div class="wrapper">
  <h3>Effects</h3>
  <ul>
    <li>
      Effects in Angular (specifically in NgRx) are needed to handle side
      effects — like API calls, timers, navigation, notifications — things that
      happen outside the store.
    </li>
    <li>They generally sit between actions and reducers.</li>
    <li>We can use them for api calls, etc.</li>
    <li>
      As reducers are pure functions its not advisable to call api inside
      reducers.
    </li>
    <li>
      We can also call the apis seperatly and then update the store but ngrx
      also provides a way to handle it in a clearer way.
    </li>
    <li>Effects helps us to isolate the components from services.</li>
    <li>
      They are like services and they will listen to all the actions dispatched.
    </li>
    <li>
      Code Snippet :
      <strong>
        <pre><code>
blogEffect = createEffect(() =>
  this.action$.pipe(
    ofType('loadBlog'),
    exhaustMap((actions) =>
      this.httpClient
        .get('./assets/dummy.json')
        .pipe(map((data: any) => loadBlogSuccess(&#123; input: data &#125;)))
    )
  )
);
</code></pre>
      </strong>
    </li>
    <li>
      Here we have created a effect which catches the loadBlog action, using
      <strong>ofType</strong> method from <b>ngrx/effects</b>.
    </li>
    <li>
      We have to inject <b>Actions</b> from <b>@ngrx/store</b> which will
      trigger for all the actions dispatched. Here we have kept tht instance in
      <b>action$</b>.
    </li>
    <li>
      Now we will trigger an api call and based on success or failure we are
      going to call another success/failuer action.
    </li>
    <li>
      We generally create seperate effects class for seperate big properties.
    </li>
    <li>
      We have to register all the effects in app.module.
      <strong>
        <pre><code>    EffectsModule.forRoot([BlogEffect])</code></pre>
      </strong>
    </li>
    <li>We can think it like providing interceptors.</li>
    <li>
      If we want to add any payload to the api call we can get it using props
      action and we can get the action inside the params of exhaustMap or
      subsequent operator.
    </li>
  </ul>
</div>

<div class="wrapper">
  <h3>Ngrx Router Store</h3>
  <ul>
    <li>
      NgRx Router Store lets you sync Angular Router state into the NgRx Store
      automatically.
    </li>
    <li>
      So you can access router info like url, params, queryParams, etc. directly
      from the store!
    </li>
  </ul>
</div>

<div class="wrapper">
  <h3>Entities</h3>
  <ul>
    <li></li>
  </ul>
</div>

<div class="wrapper">
  <h3>Example</h3>
  <app-ngrx-display></app-ngrx-display>
</div>
